<nav class="navbar sticky-top navbar-expand-lg navbar-success bg-success navbar-light">
    <div class="container">
        <a class="navbar-brand text-white" href="#">weBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse text-white" id="navbarNavAltMarkup">

            <div class="navbar-nav ms-auto">
                                
                {{#if loggedIn}}
                <a class="nav-link text-light" href="/">Home</a>
                <a class="nav-link text-light" href="/dashboard">Dashboard</a>
                <a class="nav-link text-light" id="logout">Logout</a>
                {{else}}
               <a class="nav-link text-light" href="/">Home</a>
               <a class="nav-link text-light" href="/login">Login</a>
               <a class="nav-link text-light" href="/register">Sign Up</a>
                {{/if}}
 
            </div>
        </div>
    </div>
</nav>