<section class="container mt-5 col-sm-12" id="register-container">
    <section class="row w-100 col">
        <section class="col-xl-7 col-sm-12 stuff container-register">
            <section id="welcome-text" class="shadow welcome-design d-flex justify-content-center align-items-center">
              <section class="welcome-text-wrapper d-flex justify-content-center align-items-center flex-column">
                   <h3 class="text-white">weBlog</h3>
                   <p class="text-muted">Discuss with other developers today</p>
              </section>
            </section>
          
            <form action="/register" method="POST" id="register-form" class="d-flex justify-content-center align-items-center flex-column validated-form" novalidate>
                    <div class="mb-2 w-50">
                            <label class="form-label" for="username">Username</label>
                            <input
                                class="form-control"
                                id="registerUsername"
                                type="text"
                                name="username"
                                required
                                autofocus
                            />
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="mb-2 w-50">
                            <label class="form-label" for="email">Email</label>
                            <input
                                class="form-control"
                                id="registerEmail"
                                type="email"
                                name="email"
                                required
                            />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
    
                        <div class="mb-2 w-50">
                            <label class="form-label" for="password">Password</label>
                            <input
                                class="form-control"
                                id="registerPassword"
                                type="password"
                                name="password"
                                required
                            />
                            <div class="valid-feedback">Looks good!</div>
                        </div>
    
                        <button class="btn btn-warning text-white mb-2">Sign up</button>
                        <a class="text-success" href="/login">Already have an account?</a>
            </form>
        </section>
    </section>

</section>

<script defer src='/js/register.js'></script>